@font-face {
  font-family: "BobbyJones";
  src: url('https://font-public.canva.com/YAEDY77AUF4/0/Bobby_Jones.0a08c028c7f4094d934c54fa4def.17abc1e1c227f8b226c01526988310a9.woff2') format('woff2');
}
@font-face {
  font-family: "BobbyJonesSoftCondensed";
  src: url('https://font-public.canva.com/YAEDY5gMw6E/0/Bobby_Jones_Soft_Condensed.531232ed41e93.2166eb19c02f21f861ec27bb08da2eeb.woff2') format('woff2');
}
